//colors
$main-dark: #243848;
$main-color:#2E5789;
$light-grey-color: #ddd;
$section-color: #FDFDFD;
$light-blue :#09AECE;
$white_color: #fff;
$orange-color: #F99132;
$orange-color-light: #FFF2E3;
$purple-color: #8D1EE5;
$purple-color-light: #F2E7FD;
$red-color: #e51e1e;
$red-color-light: #fde7e7;
$yellow-color: #e5e21e;
$yellow-color-light: #fffbd4;
$grey-color: #6284A7;
$grey-color-light:  rgba(98, 132, 167, 0.07);
$blue-color: #1E88E5;
$blue-color-light:  #E3F5FF;
$green-color: #0FC859;
$green-color-light: #E3FFE6;
$green-color-hover: #309748;
$red-color: #FF3636;
$red-color-dark: rgb(214, 25, 21);
$info-color:#369FFF;
$dark-grey:#6b7280;
$main-color-dark: #274a75;
$sec-color: #DFAF37;
$sec-color-dark: #cfa231;
$main-color-light:  rgba(46, 87, 137, 0.08);
$main-color-sm-light: #f1f5f9;
$light-color: white;
$dark-color: black;
$grey-color-dark: #1C162D;
$border-color: #eeeeeecf;
$green-color-op: #00908052;
$light-green-color: #e5fcf0;
$light-green-color-2: #def1ef;
$blue-color-2: #0491e8;
$dark-blue-color: #005b8e;
$light-blue-color: rgb(128, 205, 255);
$light-red-color:#FF3636;
$red-color-hover: #ee2a2a;
$text-color-dark: #777;
$smoke-color: #fdfffe;
$gold-color: #ffbe26;
$main-bg: #f6fafe;
//transition
$transition: 300ms;
$sm-transition: 0.4s;
$xs-transition: 0.3s;
$xxs-transition: 0.2s;

