//colors
$main-color: #2e5789;
$main-color-dark: #274a75;
$sec-color: #DFAF37;
$sec-color-dark: #cfa231;
// $sec-color: #e0b26c;
// $sec-color-dark: #cfa464;
$main-color-light:  rgba(46, 87, 137, 0.08);
$main-color-sm-light: #f1f5f9;
$light-color: white;
$dark-color: black;
$section-color: #f2fdf9;
$light-grey-color: #ddd;
$grey-color-dark: #1C162D;
$border-color: #eeeeeecf;
$grey-color: #a9a9a9;
$green-color: #009080;
$green-color-op: #00908052;
$light-green-color: #e5fcf0;
$light-green-color-2: #def1ef;
$blue-color: #00acf0;
$blue-color-2: #0491e8;
$dark-blue-color: #005b8e;
$light-blue-color: rgb(128, 205, 255);
$light-red-color:#FF3636;
$red-color: #ff3e3e;
$red-color-hover: #ee2a2a;
$text-color-dark: #777;
$smoke-color: #fdfffe;
$gold-color: #ffbe26;
$main-bg: #f6fafe;
//transition
$transition: 300ms;
$sm-transition: 0.4s;
$xs-transition: 0.3s;
$xxs-transition: 0.2s;

// Shadow
$shadow-green: 15px 15px 20px 0 #00968314;
