$main-color: #2E5789;
$main-light-color: rgba(98, 132, 167, 0.07);

$blue-color: #077EE7;
$blue-dark-color: #1E88E5;
$blue-light-color: #E8EDFB;

$orange-color: #F99132;
$orange-dark-color: #FF6A16;

$green-color: #11D861;
$green-light-color: rgba(227, 255, 230, 1);

$purple-color: #8D1EE5;
$purple-light-color: #F2E7FD;

$title-color: #002655;

$main-text-color:#010B14;

$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$bg-section-main: rgba(227, 255, 230, 0.41);
$bg-section-alt: rgba(30, 136, 229, 0.04);
$footer-bg: #11D8610D;